<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>

    <!-- el header se "pega"? objeto estatico en la pantalla y el titulo de cada categoria al inicio tambien (idea a debatir)-->

    <main class="main">
        <img src="./Public/images/baner-reference.jpg" alt="baner" class="baner">

        <section class="destacado">
            <h2>Destacado</h2>
            <section class="product">
                <img src="Public\images\producto-base.jpg" alt="Titulo">
                <!-- pordias hacer una trasicion para q los detalles aparezcan sobre cada producto-->
                <h3>Titulo product remera</h3>
                <p>precio</p>
                <p>descuento? descripcion?</p>
            </section>
            <section class="product">
                <img src="Public\images\producto-base.jpg" alt="Titulo">
                <h3>Titulo product remera</h3>
                <p>precio</p>
                <p>descuento? descripcion?</p>
            </section>
            <section class="product">
                <img src="Public\images\producto-base.jpg" alt="Titulo">
                <h3>Titulo product remera</h3>
                <p>precio</p>
                <p>descuento? descripcion?</p>
            </section>
            <section class="product">
                <img src="Public\images\producto-base.jpg" alt="Titulo">
                <h3>Titulo product remera</h3>
                <p>precio</p>
                <p>descuento? descripcion?</p>
            </section>
        </section>

        <section class="ofertas">
            <h2>Ofertas</h2>
            <section class="product">
                <img src="Public\images\producto-base.jpg" alt="Titulo">
                <h3>Titulo product remera</h3>
                <p>precio</p>
                <p>descuento? descripcion?</p>
            </section>
            <section class="product">
                <img src="Public\images\producto-base.jpg" alt="Titulo">
                <h3>Titulo product remera</h3>
                <p>precio</p>
                <p>descuento? descripcion?</p>
            </section>
            <section class="product">
                <img src="Public\images\producto-base.jpg" alt="Titulo">
                <h3>Titulo product remera</h3>
                <p>precio</p>
                <p>descuento? descripcion?</p>
            </section>
            <section class="product">
                <img src="Public\images\producto-base.jpg" alt="Titulo">
                <h3>Titulo product remera</h3>
                <p>precio</p>
                <p>descuento? descripcion?</p>
            </section>
        </section>

        <section class="categorys">
            <h2>Categorias de interes</h2>
            <nav class="category-prendas">
                <a href="">Remeras</a>
                <a href="">Pantalones</a>
                <a href="">zapatillas</a>
                <a href="">Prendas de abrigo</a>
            </nav>
            <section class="category-edad">
                <a href="">Femenino</a>
                <a href="">Masculino</a>
                <a href="">Infante</a>
                <a href="">Unisex?</a>
            </section>
        </section>
    </main>

    <%- include("./partials/footer.ejs") %>
</body>
</html>