html{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0px;
}
header{
    background-color: #cfcfcf;
    height: 70px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main{
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    color: #000000;
    background-color: #cfcfcf;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftHeader{
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.rightHeader{
    width: 30vw;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.iconosHeader{
    background-color: #9A0680;
    color: #ffffff;
    padding: 8px;
    border-radius: 20px;
}

.listaProductos{
    margin-bottom: 10px;
    width: 90vw;
}
.producto{
    color: #ffffff;
    background-color: #9A0680;
    width: 100%;
    height: 60px;
    margin: 5px;
    border-radius: 12px;
    font-size: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.cantProducto{
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.masMenos{
    font-size: 0.6rem;
    background-color: #FFF5E1;
    border: none;
}
.botonEliminar{
    background-color: #FFF5E1;
    border: none;
    border-radius: 5px;
}


.descripcion{
    color: #ffffff;
    font-size: 1rem;
    background-color: #9A0680;
    border-radius: 15px;
    padding: 15px;
    width: 70vw;
}
.botonComprar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.comprar{
    background-color: #FFF5E1;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}

.seccionesFooter{
    margin: 10px;
}
.iconosFooter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1.4rem;
    justify-content: space-around;
    align-items: center;
}


@media screen and (min-width: 750px){
    /*tablet*/
    main{
        flex-direction: row;
        justify-content: space-between;
    }
    .producto{
        font-size: 1.2rem;
        height: 120px;
    }
    .listaProductos{
        width: 65vw;
    }
    .descripcion{
        font-size: 1.2rem;
        width: 20vw;
    }
    footer{
        flex-direction: row;
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .seccionesFooter{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1000px){
    /*desktop*/
}