header{
    background-color: aqua;
    border-style: solid;
    border-color: black;
    height: 70px;
    width: 100%;
}
main{
    background-color: blue;
}
footer{
    background-color: chocolate;
}