* { font-family:'Poppins', sans-serif; }
body{ margin: 0;}

/* Header */

.header{
    text-align: center;
    background-color: #9A0680;
    padding: 20px;
}
.logo{ width: 25%;  }
.busqueda{ margin: 18px 0; }
.section-busqueda{
    border-radius: 10px;
    padding: 5px;
    background: #fff5e2;
}
.section-busqueda i{ color: #797979;}
.cuadrado-busqueda { 
    border: none;
    background-color: #fff5e2;
}
.carrito-user{
    margin: 15px 0;
}
span{ margin: 6px; color: #fff5e2;}




/* Main */

.main{
    padding: 20px;
    background-color: #fff5e2;
}
.baner{
    width: 100%;
}




/* Footer*/

.footer{
    padding: 20px;
    color: #ffffff;
    background-color: #9A0680;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconosFooter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1.4rem;
    justify-content: space-around;
    align-items: center;
}

/* Responsive */

@media(min-width: 450px){
    /*tablet*/
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media(min-width: 800px){
    /*desktop*/
    .header{ padding: 30px;}
    .footer{
        padding: 30px;
        flex-direction: row;
        justify-content: space-around;
    }
}