<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleCart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <title>Carrito</title>
</head>
<body>
    
    <header class="header">
        <img src="/public/images/logoKolibry.png" alt="logo" class="logo">
        <form action="/product" method="get" class="busqueda">
            <label class="section-busqueda">
                <input type="text" name="buscar-producto" placeholder="Buscar por producto" class="cuadrado-busqueda" >
                <i class="fa-solid fa-magnifying-glass"></i>
            </label>
        </form>
        <section class="carrito-user">
            <a href="/registro"><span class="fa-solid fa-right-to-bracket animIcon"></span></a>
            <a href="/login"><span class="fa-solid fa-user animIcon"></span></a>
            <a href="/carrito"><span class="fa-solid fa-cart-shopping animIcon"></span></a>
        </section>
    </header>

    <main>
        <div class="listaProductos">
            <div class="producto">
                <img src="../../public/images/logoKolibry.png" alt="ejemplo">
                <p>nombre del producto</p>
                <div class="cantProducto">
                    <button class="masMenos">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button class="masMenos">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                </div>
                <p>precio</p>
                <button class="botonEliminar">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="producto">
                <img src="../../public/images/logoKolibry.png" alt="ejemplo">
                <p>nombre del producto</p>
                <div class="cantProducto">
                    <button class="masMenos">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button class="masMenos">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                </div>
                <p>precio</p>
                <button class="botonEliminar">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="producto">
                <img src="../../public/images/logoKolibry.png" alt="ejemplo">
                <p>nombre del producto</p>
                <div class="cantProducto">
                    <button class="masMenos">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button class="masMenos">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                </div>
                <p>precio</p>
                <button class="botonEliminar">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="producto">
                <img src="../../public/images/logoKolibry.png" alt="ejemplo">
                <p>nombre del producto</p>
                <div class="cantProducto">
                    <button class="masMenos">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button class="masMenos">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                </div>
                <p>precio</p>
                <button class="botonEliminar">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>

        <div class="descripcion">
            <p>informacion del producto</p>
            <p>costo de envio <i class="fa-solid fa-dollar-sign"></i></p>
            <p>costo final <i class="fa-solid fa-dollar-sign"></i></p>
            <div class="botonComprar">
                <button class="comprar" type="button">
                    Comprar
                    <i class="fa-solid fa-check"></i>
                </button>
            </div>
        </div>
    </main>

    <footer class="footer">
        <section class="seccionesFooter">
            <p>Seguinos en nuestras redes sociales</p> 
            <section class="iconosFooter">
                <i class="fa-brands fa-instagram animIcon"></i>
                <i class="fa-brands fa-facebook animIcon"></i>
                <i class="fa-brands fa-twitter animIcon"></i>
            </section>
        </section>

        <section class="seccionesFooter">
            <p>Informacion y contactos</p>
            <section class="iconosFooter">
                <i class="fa-solid fa-phone animIcon"></i>
                <i class="fa-solid fa-envelope animIcon"></i>
            </section>
        </section>
    </footer>

</body>
</html>