<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleCart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <title>Carrito</title>
</head>
<body>
    
    <header>
        <div class="leftHeader">
            <img src="../../public/images/logoKolibry.png" alt="logo">
            <div>
                categorias
            </div>
        </div>
            
        <div class="rightHeader">
            <i class="fa-solid fa-magnifying-glass iconosHeader"></i>
            <i class="fa-solid fa-cart-shopping iconosHeader"></i>
            <i class="fa-solid fa-user iconosHeader"></i>
        </div>
    </header>

    <main>
        <div class="listaProductos">
            <div class="producto">
                <img src="../../public/images/logoKolibry.png" alt="ejemplo">
                <p>nombre del producto</p>
                <div class="cantProducto">
                    <button class="masMenos">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button class="masMenos">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                </div>
                <p>precio</p>
                <button class="botonEliminar">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="producto">
                <img src="../../public/images/logoKolibry.png" alt="ejemplo">
                <p>nombre del producto</p>
                <div class="cantProducto">
                    <button class="masMenos">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button class="masMenos">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                </div>
                <p>precio</p>
                <button class="botonEliminar">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="producto">
                <img src="../../public/images/logoKolibry.png" alt="ejemplo">
                <p>nombre del producto</p>
                <div class="cantProducto">
                    <button class="masMenos">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button class="masMenos">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                </div>
                <p>precio</p>
                <button class="botonEliminar">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="producto">
                <img src="../../public/images/logoKolibry.png" alt="ejemplo">
                <p>nombre del producto</p>
                <div class="cantProducto">
                    <button class="masMenos">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button class="masMenos">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                </div>
                <p>precio</p>
                <button class="botonEliminar">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>

        <div class="descripcion">
            <p>informacion del producto</p>
            <p>costo de envio <i class="fa-solid fa-dollar-sign"></i></p>
            <p>costo final <i class="fa-solid fa-dollar-sign"></i></p>
            <div class="botonComprar">
                <button class="comprar" type="button">
                    Comprar
                    <i class="fa-solid fa-check"></i>
                </button>
            </div>
        </div>
    </main>

    <footer>
        <div class="seccionesFooter">
            seguinos en nuestras redes sociales
            <div class="iconosFooter">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
        <div class="seccionesFooter">
            Informacion y contactos
            <div class="iconosFooter">
                <i class="fa-solid fa-phone"></i>
                <i class="fa-solid fa-envelope"></i>
                <i class="fa-solid fa-shop"></i>
            </div>
        </div>
    </footer>

</body>
</html>