<footer class="footer">
    <section class="seccionesFooter">
        <p>Seguinos en nuestras redes sociales</p> 
        <section class="iconosFooter">
            <i class="fa-brands fa-instagram animIcon"></i>
            <i class="fa-brands fa-facebook animIcon"></i>
            <i class="fa-brands fa-twitter animIcon"></i>
        </section>
    </section>

    <section class="seccionesFooter">
        <p>Informacion y contactos</p>
        <section class="iconosFooter">
            <i class="fa-solid fa-phone animIcon"></i>
            <i class="fa-solid fa-envelope animIcon"></i>
        </section>
    </section>
</footer>