<header class="header">
    <img src="/images/logoKolibry.png" alt="logo" class="logo">
    <form action="/product" method="get" class="busqueda">
        <label class="section-busqueda">
            <input type="text" name="buscar-producto" placeholder="Buscar por producto" class="cuadrado-busqueda" >
            <i class="fa-solid fa-magnifying-glass"></i>
        </label>
    </form>
    <section class="carrito-user">
        <a href="/registro"><span class="fa-solid fa-right-to-bracket animIcon"></span></a>
        <a href="/login"><span class="fa-solid fa-user animIcon"></span></a>
        <a href="/carrito"><span class="fa-solid fa-cart-shopping animIcon"></span></a>
    </section>
</header>