<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>

    <main class="main">
        <section class="block">
            <h3 class="title">Registro</h3>
            <form action="/user" method="post" class="form-registro">
                <section class="section-form">
                    <input type="text" name="name" placeholder="nombre y apellido" class="section">
                </section>
                <section class="section-form">
                    <input type="text" name="user" placeholder="nombre de usuario" class="section">
                </section>
                <section class="section-form">
                    <input type="text" name="email" placeholder="correo electronico" class="section">
                </section>
                <section class="section-form">
                    <input type="text" name="domicilio" placeholder="domicilio" class="section">
                </section>
                <section class="section-form">
                    <label>Fecha de nacimiento</label>
                    <input type="date" name="fecha nacimiento"  class="date">
                </section>
                <section class="section-form">
                    <input type="password" name="contrase単a" placeholder="contrase単a" class="section">
                </section>
                <section class="section-form">
                    <input type="password" name="contrase単a" placeholder="confirmacion de contrase単a" class="section">
                </section>
                <section class="section-form">
                    <label><input type="radio" name="terminos">Acepta los terminos y condiciones</label>
                </section>
                <section class="section-form">
                    <label><input type="radio" name="publicidad">Acepta recibir ofertas o promociones a su correo electronico</label>
                </section>
                <section class="section-form">
                    <button type="submit" class="button"><a href="/">Crear usuario</a></button>
                </section>
            </form>
        </section>
    </main>

    <%- include("./partials/footer.ejs") %>

</body>
</html>